# Assignment 06 - MD Rashadul Islam

# Step 01: Regression

2. Separate x(Gender, Height) and y (y=Weight)
3. Train = 70%, Test = 30%
4. Apply Linear Regression
5. Evaluate the Model (Testing and training Accuracy, MSE for testing)
6. Apply KNN Regressor: https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsRegressor.html
7. Evaluate the Model (Testing and training Accuracy, MSE for testing)
8. Compare KNN & Linear regression with the KNN model and Linear regression as well.

In [1]:
import pandas as pd
df1 = pd.read_csv('weight-height.csv')
df1.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [2]:
df2 = df1.copy()

Work from here..

In [3]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [4]:
df1.Gender=le.fit_transform(df1.Gender)

2. Separating x and y

In [5]:
x=df1[['Gender','Height']]

In [6]:
y=df1[['Weight']]

In [7]:
x

      Gender     Height
0          1  73.847017
1          1  68.781904
2          1  74.110105
3          1  71.730978
4          1  69.881796
...      ...        ...
8550       0  60.483946
8551       0  63.423372
8552       0  65.584057
8553       0  67.429971
8554       0  60.921791

[8555 rows x 2 columns]

In [8]:
y

          Weight
0     241.893563
1     162.310473
2     212.740856
3     220.042470
4     206.349801
...          ...
8550  110.565497
8551  129.921671
8552  155.942671
8553  151.678405
8554  131.253738

[8555 rows x 1 columns]

3. Train = 70%, Test = 30%

In [9]:
from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.30, random_state=1)

In [10]:
xtrain.shape

(5988, 2)

In [11]:
ytrain.shape

(5988, 1)

In [12]:
xtest.shape

(2567, 2)

In [13]:
ytest.shape

(2567, 1)

4.apply Linear Regression

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [15]:
reg = LinearRegression()

In [16]:
reg.fit(xtrain, ytrain)

LinearRegression()

In [17]:
reg.predict(xtest)

array([[143.83013436],
       [197.53417989],
       [184.63515112],
       ...,
       [160.7078525 ],
       [186.82852694],
       [201.4226542 ]])

5.Evaluating the Model (Testing and training Accuracy, MSE for testing)

In [18]:
test_mse = mean_squared_error(ytest, reg.predict(xtest)) 
test_mse

99.67250998070031

In [19]:
train_mse = mean_squared_error(ytrain, reg.predict(xtrain))
train_mse

104.03843190905906

In [20]:
reg.score(xtest, ytest)

0.9059959607091161

In [21]:
reg.score(xtrain, ytrain)

0.8972135459668117

6. Apply KNN Regressor

In [22]:
from sklearn.neighbors import KNeighborsRegressor

knn= KNeighborsRegressor(n_neighbors=5)

In [23]:

knn.fit(xtrain, ytrain)

KNeighborsRegressor()

In [24]:
knn.predict(xtest)

array([[150.1761117 ],
       [197.46276978],
       [179.03501546],
       ...,
       [160.26227546],
       [180.65461322],
       [200.56451578]])

7. Evaluate the Model (Testing and training Accuracy, MSE for testing)

In [25]:
test_mse = mean_squared_error(ytest, knn.predict(xtest)) 
test_mse

123.15365863436983

In [26]:
train_mse = mean_squared_error(ytrain, knn.predict(xtrain))
train_mse

83.93435387706295

In [27]:
knn.score(xtest, ytest)

0.8838502073708883

In [28]:
knn.score(xtrain, ytrain)

0.9170756955071054

8. Comparing KNN & Linear regression with the KNN model and Linear regression as well.

In [29]:
if(reg.score(xtrain, ytrain)>knn.score(xtrain, ytrain)):
    print('linear regression is more accurate than KNN Regression')
else:
    print('KNN Regression is more accurate than linear regression')

KNN Regression is more accurate than linear regression

In [30]:
if(reg.score(xtest, ytest)>knn.score(xtest, ytest)):
    print('linear regression is more accurate than KNN Regression')
else:
    print('KNN Regression is more accurate than linear regression')

linear regression is more accurate than KNN Regression

# Step 02: Classification

In [31]:
df2.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

2. Separate x and (y=Gender)
3. Train = 70%, Test = 30%
4. Apply KNN Classifier 
5. Evaluate the Model by only Accuracy.
6. Apply KNN Classifier: https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html

Work from here..

In [32]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [33]:
df2.Gender=le.fit_transform(df2['Gender'])

In [34]:
df2

      Gender     Height      Weight
0          1  73.847017  241.893563
1          1  68.781904  162.310473
2          1  74.110105  212.740856
3          1  71.730978  220.042470
4          1  69.881796  206.349801
...      ...        ...         ...
8550       0  60.483946  110.565497
8551       0  63.423372  129.921671
8552       0  65.584057  155.942671
8553       0  67.429971  151.678405
8554       0  60.921791  131.253738

[8555 rows x 3 columns]

2. Separating x and y

In [35]:
x=df2[['Gender','Height']]

In [36]:
y=df2[['Weight']]

In [37]:
x

      Gender     Height
0          1  73.847017
1          1  68.781904
2          1  74.110105
3          1  71.730978
4          1  69.881796
...      ...        ...
8550       0  60.483946
8551       0  63.423372
8552       0  65.584057
8553       0  67.429971
8554       0  60.921791

[8555 rows x 2 columns]

In [38]:
y

          Weight
0     241.893563
1     162.310473
2     212.740856
3     220.042470
4     206.349801
...          ...
8550  110.565497
8551  129.921671
8552  155.942671
8553  151.678405
8554  131.253738

[8555 rows x 1 columns]

In [39]:
y.max()

Weight    269.989698
dtype: float64

In [40]:
y.min()

Weight    65.78
dtype: float64

In [41]:
y = pd.cut(df2['Weight'], bins=[60,120,270,float('inf')], labels=['Underweight','Normal','Overweight'])

In [42]:
y

0            Normal
1            Normal
2            Normal
3            Normal
4            Normal
           ...
8550    Underweight
8551         Normal
8552         Normal
8553         Normal
8554         Normal
Name: Weight, Length: 8555, dtype: category
Categories (3, object): ['Underweight' < 'Normal' < 'Overweight']

3. Train = 70%, Test = 30%

In [43]:
from sklearn.model_selection import train_test_split

kcl_xtrain, kcl_xtest, kcl_ytrain, kcl_ytest = train_test_split(x,y,test_size=0.30, random_state=1)

4. Apply KNN Classifier

In [44]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [45]:
kcl = KNeighborsClassifier(n_neighbors=5)
kcl.fit(kcl_xtrain, kcl_ytrain)

KNeighborsClassifier()

5.Evaluate the Model by only Accuracy.

In [46]:
y_pred=kcl.predict(kcl_xtest)

In [47]:
y_pred

array(['Normal', 'Normal', 'Normal', ..., 'Normal', 'Normal', 'Normal'],
      dtype=object)

In [48]:
kcl.score(kcl_xtrain, kcl_ytrain)

0.9554108216432866

In [49]:
kcl.score(kcl_xtest, kcl_ytest)

0.9435138293728087