# ASSIGNMENT 02 - MD RASHADUL ISLAM

# Python Conditions:

1. Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [1]:
length = float(input("Enter the length of the rectangle: "))
breadth = float(input("Enter the breadth of the rectangle: "))

if length == breadth:
    print("The given rectangle is a square.")
else:
    print("The given rectangle is not a square.")

Enter the length of the rectangle: 10
Enter the breadth of the rectangle: 10
The given rectangle is a square.

Explaination: This code takes input from the user for the length and breadth of a rectangle and checks if it is a square by comparing the length and breadth using an if-else statement.

2. Take three integer values from the user and print the greatest among them.

In [2]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

if num1 > num2 and num1 > num3:
    print(num1, "is the greatest.")
elif num2 > num1 and num2 > num3:
    print(num2, "is the greatest.")
else:
    print(num3, "is the greatest.")

Enter the first number: 60
Enter the second number: 50
Enter the third number: 90
90 is the greatest.

Explaination: This code takes input from the user for three integer values and finds the greatest among them using if-elif-else statement.

3. A student will not be allowed to sit in an exam if his/her attendance is less than 75%

In [3]:
attendance = float(input("Enter the attendance percentage: "))

if attendance >= 75:
    print("The student is eligible to sit in the exam.")
else:
    print("The student is not eligible to sit in the exam.")

Enter the attendance percentage: 60
The student is not eligible to sit in the exam.

Explaination: This code takes input from the user for attendance percentage of a student and checks if the attendance is greater than or equal to 75 using an if-else statement.

4. A school has the following rules for the grading system:
Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
Now, Ask the user to enter marks and print the corresponding grade.

In [4]:
marks = float(input("Enter the marks: "))

if marks >= 90:
    grade = "A+"
elif marks >= 80:
    grade = "A"
elif marks >= 60:
    grade = "B"
elif marks >= 50:
    grade = "C"
elif marks >= 45:
    grade = "D"
elif marks >= 25:
    grade = "E"
else:
    grade = "F"

print("The grade for the given marks is:", grade)

Enter the marks: 77
The grade for the given marks is: B

Explaination: This code takes input from the user for marks and prints the corresponding grade based on a school's grading system using if-elif statements.

# Loop Problem:

5. Print the following pattern using for and while loop.
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [26]:
# Using for loop
for i in range(7, 0, -1):
    for j in range(1, i):
        print(j, end=" ")
    print()

# Using while loop
i = 7
while i > 0:
    j = 1
    while j < i:
        print(j, end=" ")
        j += 1
    print()
    i -= 1

1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

Explaination: This code prints a pattern using nested for and while loops.

6. Display numbers from -100 to -10 using for loop.

In [7]:
for i in range(-100, -9):
    print(i, end=" ")

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10

Explaination: This code uses a for loop to print numbers from -100 to -10.

7. Write a program to sum all prime numbers within a range of 10 to 1000.

In [9]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5)+1):
        if num % i == 0:
            return False
    return True

start = 10
end = 1000
total = 0

for num in range(start, end+1):
    if is_prime(num):
        total += num

print("The sum of prime numbers between", start, "and", end, "is:", total)

The sum of prime numbers between 10 and 1000 is: 76110

Explaination: The first step is to define a function called is_prime that takes an integer as input and returns True if it's prime and False otherwise. The function checks whether the input number is less than 2 (in which case it's not prime), and then loops through all integers between 2 and the square root of the input number. If the input number is divisible by any of these integers, it's not prime, so the function returns False. If the loop completes without finding a factor, the input number is prime, so the function returns True.

Next, the lower and upper bounds of the range to check are defined as variables lower_bound and upper_bound, respectively.

A variable called sum_of_primes is initialized to 0, which will be used to accumulate the sum of all the prime numbers found.

A for loop is used to iterate through each number in the range from lower_bound to upper_bound. For each number, the is_prime function is called to check if it's prime. If it is, its value is added to sum_of_primes.

Finally, the sum of all prime numbers is printed to the console.

8. Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [10]:
n = 7
factorial = 1

for i in range(1, n+1):
    factorial *= i

print("The factorial of", n, "is:", factorial)

The factorial of 7 is: 5040

Explaination: In this code, we initialize the factorial variable to 1, and then use a for loop to iterate from 1 to n. In each iteration, we multiply the current value of factorial with the current value of i, and then store the result back in factorial. Finally, we print the value of factorial to the console.

9. Reverse a given integer number 27956240710.

In [27]:
num=27956240710
# Convert number to string, reverse it using slicing, and convert back to int
reverse_num= int(str(num)[::-1])
print('The reversed number is:', reverse_num)

The reversed number is: 1704265972

Explaination: In this code, we first convert the integer num to a string using the str() function, and store the result in the variable num_str. We then use Python's string slicing syntax to reverse the string, by specifying a negative step size of -1, and store the result in the variable rev_str. Finally, we convert the reversed string back to an integer using the int() function, and store the result in the variable rev_num. We then print the value of rev_num to the console.

10. Print the following pattern using for and while loop.
# # #
# # # #
# # #
# #

In [29]:
# Using a for loop

for i in range(3):
    for j in range(i+1):
        print("#", end=" ")
    print()
for i in range(2, 0, -1):
    for j in range(i):
        print("#", end=" ")
    print()

# Using a while loop

i = 0
while i < 3:
    j = 0
    while j <= i:
        print("#", end=" ")
        j += 1
    print()
    i += 1

i = 2
while i > 0:
    j = 0
    while j < i:
        print("#", end=" ")
        j += 1
    print()
    i -= 1

#
# #
# # #
# #
#
#
# #
# # #
# #
#

Explaination:Using a for loop, the first section of the pattern is printed by iterating over the range of 3 and nested for loop inside to print the # characters. The nested loop iterates over a range starting from 0 to i+1, where i increases by 1 after each iteration of the outer loop. The end parameter in the print statement is used to avoid starting a new line after printing each character. After each row is printed, the print function is called with no arguments to start a new line.

Then, using another for loop and a nested for loop, the second section of the pattern is printed by iterating over the range of 2 to 0 with a step of -1. The inner loop iterates over a range starting from 0 to i, where i decreases by 1 after each iteration of the outer loop.

The same pattern is printed using while loops by initializing a variable i to 0, then iterating over it and incrementing it by 1 after each iteration. Inside the outer loop, a variable j is initialized to 0, then the inner loop iterates over j while it is less than or equal to i, printing a '#' character at each iteration. Finally, after each row is printed, the i variable is incremented by 1.

The second section of the pattern is printed using another while loop by initializing i to 2, then iterating over it and decrementing it by 1 after each iteration. Inside the outer loop, a variable j is initialized to 0, then the inner loop iterates over j while it is less than i, printing a '#' character at each iteration. Finally, after each row is printed, the i variable is decremented by 1.

11. Display the Fibonacci series of 15 elements using the for and while loop.

In [30]:
# Using a for loop
a, b = 0, 1
for i in range(15):
    print(a, end=" ")
    a, b = b, a+b

# Using a while loop
a, b = 0, 1
i = 0
while i < 15:
    print(a, end=" ")
    a, b = b, a+b
    i += 1

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

Explaination: In both versions, two variables, a and b, are initialized to 0 and 1, respectively. These variables represent the current and next numbers in the sequence. In each iteration of the loop, the current value of a is printed, followed by a space. Then, a is set equal to b, and b is set equal to a+b. This effectively shifts the sequence forward by one step. In the for loop version, the range() function is used to control the number of iterations. In the while loop version, a separate counter variable, i, is used to limit the number of iterations.

# Python inbuilt Data Structure:

12. Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]
Output = [1,3,5, [3,3], False]

In [18]:
Li = [1,3,5, [2,3], True]

Li[3][0]=3
Li[-1] = False

print(Li)

[1, 3, 5, [3, 3], False]

Explaination: 
This code creates a list Li with 5 elements. The first element is an integer 1, the second element is an integer 3, the third element is an integer 5, the fourth element is a nested list [2,3] and the last element is a boolean value True.

The code then modifies the first element of the nested list within the Li list by setting it to 3. This is done by indexing the nested list using Li[3] and then setting its first element to 3 using Li[3][0] = 3. So now the Li list becomes [1, 3, 5, [3, 3], True].

The code also replaces the last element of the Li list from True to False by using negative indexing to access the last element of the list and then setting its value to False using Li[-1] = False. So, the final output of the code will be [1, 3, 5, [3, 3], False].

13. Find the intersection (common) of two sets.
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

In [34]:
S1 = {1,4,6,8} 
S2 = {True, 1,2,10}

# Using Intersection Method

common=S1.intersection(S2)
common_int= {int(x) for x in common} # Convert the elements to integers
print(common_int)

{1}

Explaination: This code snippet shows how to find the common elements between two sets using the intersection() method. In this case, we have two sets S1 and S2, and we want to find their intersection. The intersection() method returns a new set containing the common elements between the two sets. In this example, the common element between S1 and S2 is 1.

14. Input a list from the user then Remove duplicates from a list and create a set and find the max
number. User_input = [1,9,3,4,5,200,54]

In [22]:
user_input = [1, 9, 3, 4, 5, 200, 54]

unique_list = list(set(user_input))
max_number = max(unique_list)

print("Unique list:", unique_list)
print("Max number:", max_number)

Unique list: [1, 3, 4, 5, 200, 9, 54]
Max number: 200

Explaination:This code snippet shows how to remove duplicates from a list, create a set, and find the maximum number from the list. First, the user is prompted to input a list of numbers. Then, we use the set() function to create a set from the list, which automatically removes duplicates. Finally, we use the max() function to find the maximum number from the original list.

15. Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [23]:
Dict = {"name": "Shakil", "age": 27, "city": "Berlin", "country": "Germany"}

Dict["region"] = Dict.pop("country")

print(Dict)

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

Explaination: This code snippet shows how to rename a key in a dictionary. In this example, we have a dictionary Dict with the key "country", and we want to rename it to "region". To do this, we create a new key "region" with the value of the old key "country", and then delete the old key. This effectively renames the key from "country" to "region".

16. Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [24]:
import pandas as pd

num = [10, 100, 300]
df = pd.DataFrame({'number': num})

print(df)

   number
0      10
1     100
2     300

Explaination: This code snippet shows how to create a data frame in Pandas using a list. First, we import the Pandas library using the import pandas as pd statement. Then, we create a list num with the values [10, 100, 300]. We create a data frame using the pd.DataFrame() function, passing the list as a dictionary with the key "number". This creates a data frame with one column named "number" and three rows with the values [10, 100, 300].

17. Change the value of a key in a given dictionary.
Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }

In [25]:
Dict = {"name": "Shakil", "age": 27, "city": "Berlin", "country": "Germany"}

Dict["age"] = 28

print(Dict)

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}

Explaination: This code snippet shows how to change the value of a key in a dictionary. In this example, we have a dictionary Dict with the key "age", and we want to change its value from 27 to 28. To do this, we simply access the key "age" using square brackets and assign it the new value 28. This changes the value of the key "age" from 27 to 28.